<mat-expansion-panel>
  <mat-expansion-panel-header>
    <span>
      {{ workspaceService.properties.display_name }}
    </span>
    <span class="example-spacer"></span><mat-chip-list>
    <mat-chip class="{{workspaceService.deployment.status}}" matTooltip="{{workspaceService.deployment.message}}"
      matTooltipPosition="below" matTooltipHideDelay="5000">{{workspaceService.deployment.status}}</mat-chip>
  </mat-chip-list>
    <button *ngIf="workspaceService.properties.connection_uri" mat-raised-button color="primary"
      (click)="openLink(workspaceService.properties.connection_uri)">Connect</button>
    <button *ngIf="hasUserResourceTemplates" mat-raised-button color="primary"
      (click)="$event.stopPropagation();openCreateUserResourceDialog()">
      <mat-icon>add</mat-icon>
      New
    </button>
    <button *ngIf="adminMode" mat-raised-button color="primary">
      <mat-icon>edit</mat-icon>
      Edit Service
    </button>
  </mat-expansion-panel-header>

  <span>
    {{ workspaceService.properties.description }} {{ workspaceService.templateVersion }}
  </span>
  <!-- add if are user resources-->
  <div style="display:flex; flex-direction: row;">
    <!-- for each user resource -->
    <mat-card *ngFor="let userResource of userResources;">
      <mat-card-header>
        <mat-card-title>{{ userResource.properties.display_name }}</mat-card-title>
        <mat-card-subtitle>{{ userResource.properties.description }} {{ userResource.templateVersion }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip *ngIf="userResource.azureStatus.powerState">{{userResource.azureStatus.powerState}}</mat-chip>
          <mat-chip class="{{userResource.deployment.status}}" matTooltip="{{userResource.deployment.message}}"
            matTooltipPosition="below" matTooltipHideDelay="5000">{{userResource.deployment.status}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="userResource.properties.connection_uri" mat-raised-button color="primary"
          (click)="openLink(userResource.properties.connection_uri)">Connect</button>
        <button mat-raised-button color="primary">Stop</button>
        <button mat-raised-button color="warn">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>

</mat-expansion-panel>
